body{
    margin: 0;
    font-family: Arial;
}
nav{
    position: fixed;
    left: 0;
    top: 0;
    background: blue;
    width: 200px;
    height: 100vh;
    padding: 20px 0;
    z-index: 100;
}
nav a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    margin: 5px 0;
    transition: 0.3s;
}
nav a:hover{
    background: rgb(23, 4, 149);
}
main{
    margin-left: 200px;
}
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
